<div class="canned__filter__section">
  <h4 class="canned__title">Canned Responses</h4>
  <div class="filters__grouped">
    <div class="type__filter">
      <label>Filter by Type:</label>
      <select>
        <option>Active</option>
        <option>Inactive</option>
      </select>
    </div>
    <div class="date__filter">
      <label>Filter by Date:</label>
      <input type="date" />
    </div>
  </div>
</div>