<div class='modal-dialog'>
  <div class='modal-content'>
    <div class='modal-header'>
      <h4>
        New Canned Respose
      </h4>
      <button
        type='button'
        class='close'
        data-dismiss='modal'
        aria-hidden='true'
      >
        &times;
      </button>
    </div>
    <div class='modal-body' id='modal_content'>
      <div class="canned__res__form">
        <div class="form__item">
          <label>Message Name</label>
          <input type="text" />
        </div>
        <div class="form__item">
          <label>Message Content</label>
          <input type="text" />
        </div>
        <div class="form__item">
          <label>Status</label>
          <select class="btn">
            <option>Select one</option>
          </select>
        </div>
        <div class="form__item">
          <label>Share Response</label>
          <select class="btn">
            <option>Select one</option>
          </select>
        </div>
        <div class="form__item notify__by__mail">
          <input type="checkbox" />
          <label>Send an email notification</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="file" />
      <button class="create--btn">Create</button>
    </div>
  </div>
</div>