<div class='canned__result__section'>
  <table width='100%'>
    <colgroup>
      <col span='1' style='width: 30%;' />
      <col span='1' style='width: 20%;' />
      <col span='1' style='width: 20%;' />
      <col span='1' style='width: 30%;' />
    </colgroup>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Created by
        </th>
        <th>
          Status
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Brand Logo
        </td>
        <td>
          Me
        </td>
        <td>
          Active
        </td>
        <td class='actions__btn__container'>
          <button class='btn view--btn'>
            View
          </button>
          <button class='btn edit--btn'>
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>
          Brand Bio
        </td>
        <td>
          Matt
        </td>
        <td>
          Inactive
        </td>
        <td class='actions__btn__container'>
          <button class='btn view--btn'>
            View
          </button>
          <button class='btn edit--btn'>
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>
          Brand Marketing Visuals
        </td>
        <td>
          Mikimoto
        </td>
        <td>
          Active
        </td>
        <td class='actions__btn__container'>
          <button class='btn view--btn'>
            View
          </button>
          <button class='btn edit--btn'>
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>